<div class="web-tech_holder">
  <ul class="web-tech_list">
    <li class="web-tech_item">
      <img src="../../../../assets/images/html.png" />
      <p>HTML</p>
    </li>
    <li class="web-tech_item">
      <img src="../../../../assets/images/css.png" />
      <p>CSS</p>
    </li>
    <li class="web-tech_item">
      <img src="../../../../assets/images/js.png" />
      <p>JavaScript</p>
    </li>
    <li class="web-tech_item">
      <img src="../../../../assets/images/typescript.png" />
      <p>TypeScript</p>
    </li>
    <li class="web-tech_item">
      <img src="../../../../assets/images/angular.png" />
      <p>Angular</p>
    </li>
    <li class="web-tech_item">
      <img src="../../../../assets/images/nodejs.png" />
      <p>NodeJs</p>
    </li>
    <li class="web-tech_item">
      <img src="../../../../assets/images/mongodb.png" />
      <p>MongoDB</p>
    </li>
    <li class="web-tech_item">
      <img src="../../../../assets/images/git.png" />
      <p>Git</p>
    </li>
    <li class="web-tech_item">
      <img src="../../../../assets/images/githubskill.png" />
      <p>GitHub</p>
    </li>
  </ul>
</div>
