.web-tech_holder {
  margin-top: 1rem;
  padding: 0 5rem;
}

.web-tech_list {
  // display: grid;
  // grid-template-columns: auto auto auto auto;
  display: flex;
  flex-wrap: wrap;
}

.web-tech_item {
  font-weight: 600;
  list-style-type: none;
  flex-grow: 1;
  flex-basis: 200;
  margin: 2.5rem 3.5rem;
}

img {
  width: 4rem;
}

@media screen and (max-width: 400px) {
  .web-tech_item {
    margin: 0;
  }

  img {
    width: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .web-tech_holder {
    padding: 0;
  }
  .web-tech_item {
    margin: 1rem 2rem;
  }

  img {
    width: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .web-tech_item {
    margin: 1rem 2.3rem;
  }

  img {
    width: 3.5rem;
  }
}

@media screen and (min-width: 800px){
  .web-tech_holder {
    padding: 0;
  }

}