.web-tech_holder {
  margin-top: 1rem;
  padding: 0 5rem;
}

.web-tech_list {
  // display: grid;
  // grid-template-columns: auto auto auto auto;
  display: flex;
  flex-wrap: wrap;
}

.web-tech_item {
  font-weight: 600;
  list-style-type: none;
  flex-grow: 1;
  flex-basis: 200;
  margin: 2.5rem 3.5rem;
}

img {
  width: 4rem;
}
