.list-title_holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  height: 2.5rem;
  width: 12.5rem;
  border: none;
  border-radius: 100px;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.16);
}

.tech-list {
  position: relative;
  display: flex;
}

.tech-item {
  width: 6rem;
  padding: 0.26rem;
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
  list-style-type: none;
  cursor: pointer;
  z-index: 2;
}

.background-button {
  position: absolute;
  width: 6rem;
  height: 2rem;
  border-radius: 16px;
  background-color: #f7f7f7;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.active {
  background-image: linear-gradient(141deg, #adf1e0, #8075ff 28%, #ff7171 98%);
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
