.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10;
}

.navbar-list {
  left: 0;
  display: flex;
}

.navbar-item {
  list-style-type: none;
  margin: 1rem;
  font-weight: 600;
}

a {
  cursor: pointer;
}
