/* FOOTER */

.footer {
  display: flex;
  width: 100%;
  padding: 48px 24px 32px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #f1f1f1;
}

.footer-social-wrapper {
  display: flex;
  margin-bottom: 21px;
  justify-content: center;
  align-items: center;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.social-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  margin-left: 25px;
  width: 54px;
  height: 54px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.social-icon:hover {
  transform: scale(0.98);
}

.caption {
  max-width: 600px;
  margin: 12px auto;
  padding: 12px 8px;
  color: #707072;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
