<footer class="footer">
  <div class="footer-social-wrapper">
    <a
      class="social-icon-link w-inline-block"
      href="https://www.linkedin.com/in/gabor-sebastian-lauren%C8%9Biu/"
      target="_blank"
    >
      <img class="social-icon" src="linkedin.png" alt="Linkedin"
    /></a>

    <a
      class="social-icon-link w-inline-block"
      href="https://github.com/sebastian-gabor"
      target="_blank"
    >
      <img class="social-icon" src="../../github.png" alt="Github"
    /></a>
  </div>
  <div class="caption">
    Copyright &copy; Sebastian-Laurentiu Gabor. All rights reserved.
  </div>
</footer>
