.cloud-tech_holder {
  margin-top: 1rem;
  padding: 0 5rem;
}

.cloud-tech_list {
  display: flex;
  flex-wrap: wrap;
}

.cloud-tech_item {
  font-weight: 600;
  list-style-type: none;
  flex-grow: 1;
  flex-basis: 200;
  margin: 2.5rem;
}

img {
  width: 4rem;
}
.certificate {
  margin-top: 2rem;
  width: 10rem;
}
