<div class="cloud-tech_holder">
  <ul class="cloud-tech_list">
    <li class="cloud-tech_item">
      <img src="../../../../assets/images/aws.png" alt="AWS" />
      <p>Amazon Web Services</p>
    </li>
    <li class="cloud-tech_item">
      <img src="../../../../assets/images/docker.png" alt="Docker" />
      <p>Docker</p>
    </li>
    <li class="cloud-tech_item">
      <img src="../../../../assets/images/kubernetes.png" alt="Kubernetes" />
      <p>Kubernetes</p>
    </li>
    <li class="cloud-tech_item">
      <img src="../../../../assets/images/linux.png" alt="Linux" />
      <p>Linux</p>
    </li>
  </ul>
  <img
    class="certificate"
    src="../../../../assets/images/Az-900.png"
    alt="AZ-900"
  />
</div>
