.cloud-tech_holder {
  margin-top: 1rem;
  padding: 0 5rem;
}

.cloud-tech_list {
  display: flex;
  flex-wrap: wrap;
}

.cloud-tech_item {
  font-weight: 600;
  list-style-type: none;
  flex-grow: 1;
  flex-basis: 200;
  margin: 2.5rem;
}

img {
  width: 4rem;
}
.certificate {
  margin-top: 2rem;
  width: 10rem;
}

@media screen and (max-width: 400px) {
  .cloud-tech_item {
    margin: 0;
  }

  img {
    width: 2rem;
  }

  .certificate {
    width: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .cloud-tech_holder {
    padding: 0;
  }
  .cloud-tech_item {
    margin: 1rem 2rem;
  }

  img {
    width: 3rem;
  }

  .certificate {
    width: 7rem;
  }
}

@media screen and (min-width: 800px){
  .cloud-tech_holder{
    padding: 0;
  }


}