.about-section {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-bottom: 10rem;
  padding-top: 5rem;
}

.about-title {
  margin-bottom: 2rem;
}

.about-text {
  font-size: 1.25em;
  background-color: #fff;
  padding: 2rem;
  text-align: justify;
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.16);
}
.about-img {
  width: 90%;
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.16);
}



@media screen and (max-width: 1000px) {
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-top: 3.5rem;
  }

  .about-text {
    top: 0;
    right: 0;
    padding: 1rem;
    width: 93%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-top: 3.5rem;
  }

  .about-text {
    top: 0;
    right: 0;
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 93%;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .about-title {
    position: absolute;
    right: 25%;
    top:15%;
  }
  .about-text{
   position: absolute;
   width: 50%;
   right: 11.5%;
   bottom: 30%;
  }
}
