<div class="about-section">
  <div class="about-container">
    <h1 class="about-title">About me</h1>
    <div>
      <img
        class="about-img"
        src="../../../assets/images/me.JPG"
        alt="Picture with me"
      />
    </div>
  </div>
    <p class="about-text">
      Hi! My name is Sebastian Gabor and I am based in Iasi, Romania. My passion
      for technology started at a young age but in the last couple of years I
      encourage myself to study and learn more about this vast domain. I started
      to learn more about Web Development and Web technologies as HTML, CSS and
      JavaScript. I found my attraction for Cloud after passing the AZ-900
      certificate which was needed for promoting to L2 Service Desk Analyst at
      SCC Romania. Currently I am learning more about AWS technologies and
      aiming for AWS certificates.
    </p>
</div>
